Tailwind UI Introducing Catalyst A modern application UI kit for React
Components Templates Docs Search components Sign in Get all-access → Tailwind
CSS Description Lists Use these Tailwind CSS description list components to
present detailed information in a structured and readable format. These
components are designed and built by the Tailwind CSS team, and include a
variety of different styles and layouts. Application UI Data Display
Left-aligned Preview Code HTML

<div>
    <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-gray-900">
            Applicant Information
        </h3>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">
            Personal details and application.
        </p>
    </div>
    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                    Full name
                </dt>
                <dd
                    class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                    Margot Foster
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                    Application for
                </dt>
                <dd
                    class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                    Backend Developer
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                    Email address
                </dt>
                <dd
                    class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                    margotfoster@example.com
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                    Salary expectation
                </dt>
                <dd
                    class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                    $120,000
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                    About
                </dt>
                <dd
                    class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"
                >
                    Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim
                    incididunt cillum culpa consequat. Excepteur qui ipsum
                    aliquip consequat sint. Sit id mollit nulla mollit nostrud
                    in ea officia proident. Irure nostrud pariatur mollit ad
                    adipisicing reprehenderit deserunt qui eu.
                </dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">
                    Attachments
                </dt>
                <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
                    <ul
                        role="list"
                        class="divide-y divide-gray-100 rounded-md border border-gray-200"
                    >
                        <li
                            class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
                        >
                            <div class="flex w-0 flex-1 items-center">
                                <svg
                                    class="h-5 w-5 flex-shrink-0 text-gray-400"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                                <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                    <span class="truncate font-medium"
                                        >resume_back_end_developer.pdf</span
                                    >
                                    <span class="flex-shrink-0 text-gray-400"
                                        >2.4mb</span
                                    >
                                </div>
                            </div>
                            <div class="ml-4 flex-shrink-0">
                                <a
                                    href="#"
                                    class="font-medium text-indigo-600 hover:text-indigo-500"
                                    >Download</a
                                >
                            </div>
                        </li>
                        <li
                            class="flex items-center justify-between py-4 pl-4 pr-5 text-sm leading-6"
                        >
                            <div class="flex w-0 flex-1 items-center">
                                <svg
                                    class="h-5 w-5 flex-shrink-0 text-gray-400"
                                    viewBox="0 0 20 20"
                                    fill="currentColor"
                                    aria-hidden="true"
                                >
                                    <path
                                        fill-rule="evenodd"
                                        d="M15.621 4.379a3 3 0 00-4.242 0l-7 7a3 3 0 004.241 4.243h.001l.497-.5a.75.75 0 011.064 1.057l-.498.501-.002.002a4.5 4.5 0 01-6.364-6.364l7-7a4.5 4.5 0 016.368 6.36l-3.455 3.553A2.625 2.625 0 119.52 9.52l3.45-3.451a.75.75 0 111.061 1.06l-3.45 3.451a1.125 1.125 0 001.587 1.595l3.454-3.553a3 3 0 000-4.242z"
                                        clip-rule="evenodd"
                                    />
                                </svg>
                                <div class="ml-4 flex min-w-0 flex-1 gap-2">
                                    <span class="truncate font-medium"
                                        >coverletter_back_end_developer.pdf</span
                                    >
                                    <span class="flex-shrink-0 text-gray-400"
                                        >4.5mb</span
                                    >
                                </div>
                            </div>
                            <div class="ml-4 flex-shrink-0">
                                <a
                                    href="#"
                                    class="font-medium text-indigo-600 hover:text-indigo-500"
                                    >Download</a
                                >
                            </div>
                        </li>
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
</div>
Left-aligned on dark Preview Get the code → Left-aligned in card Preview Get the
code → Left-aligned striped Preview Get the code → Two-column Preview Get the
code → Left-aligned with inline actions Preview Get the code → Narrow with
hidden labels Preview Get the code → Footer Beautifully designed, expertly
crafted components and templates, built by the makers of Tailwind CSS. The
perfect starting point for your next project. Marketing Hero Sections Feature
Sections Pricing Sections Header Sections Newsletter Sections Testimonials Team
Sections Content Sections Logo Clouds FAQs Footers Headers Flyout Menus Banners
Browse all → Application UI Tables Feeds Form Layouts Select Menus Radio Groups
Checkboxes Comboboxes Navbars Pagination Sidebar Navigation Command Palettes
Modals Dropdowns Buttons Browse all → Ecommerce Product Overviews Product Lists
Category Previews Shopping Carts Category Filters Product Quickviews Product
Features Store Navigation Promo Sections Checkout Forms Reviews Order Summaries
Order History Incentives Browse all → Templates & UI Kits Catalyst UI Kit
Personal Website Template Landing Page Template API Reference Template Changelog
Template Info Product Template Agency Template Podcast Template App Marketing
Template Documentation Template Conference Template Browse all → © 2024 Tailwind
Labs Inc. All rights reserved. Privacy policy Changelog Lorem ipsum dolor sit
amet consectetur adipisicing elit. Labore laudantium ad corrupti ut beatae
excepturi nesciunt, porro distinctio, eos quidem nihil sunt alias laborum sint
autem quia neque architecto. Veniam, eos iusto inventore qui quam officia
doloribus. Magni voluptas ipsa reiciendis minus non exercitationem illum
distinctio suscipit beatae. Vel, ratione dolores quas tempora soluta cupiditate
sit molestias et rerum consequatur voluptatibus doloribus eligendi tenetur
molestiae atque pariatur iusto veniam! In a tenetur itaque accusamus molestias
accusantium deserunt? Cum consectetur similique expedita ducimus rem
necessitatibus molestiae numquam quod pariatur temporibus autem iure tempore
voluptas doloribus architecto, atque minima. Maiores, asperiores saepe.
