@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 10rem;
    height: auto;
}
